/* Enter your custom styles here */
.total {
  color: rgb(19, 0, 128);
}
.totalFont {
  font-size: medium;
}
/* .fragIconTabBar .sapMITBHead{
    padding: 0px;  
    background-color: #2bda1b;  
} */
/* #container-pedidoscrea---idAppControl--tab--header-head{
  padding: 0px;  
} */

.blink {
  -webkit-animation: blink 0.75s linear infinite;
  -moz-animation: blink 0.75s linear infinite;
  -ms-animation: blink 0.75s linear infinite;
  -o-animation: blink 0.75s linear infinite;
  animation: blink 0.75s linear infinite;
  color: #0a6ed1 !important;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.uploaderMargin {
  margin-left: 1rem !important;
}
.labelEvent {
  color: darkblue !important;
  cursor: pointer;
}
.colorSugRow {
  /* background-color: crimson !important; */
}
.listNoBorder .sapMLIB {
  border-bottom: 0px;
}
.pdng {
  padding: 1rem !important;
}
.smallLetter {
  font-size: 0.75rem !important;
}
.materialTree .sapUiTableCellInner > .sapUiTableTreeIcon {
  background-color: blue;
  margin-left: 0px !important;
}
